div {color:#ff4500;
    background: #00d2ff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    

    }
    
 p{
    
    color: green;
    text-align: center;
    }
    
 .ungu {
    
        color: orange;
        margin: 50px;
    }

.warna1 {
    color: black;
    text-align: center;
    background: #ff7518;


}


